.cv {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  max-width: 1200px;
  min-width: 600px;
  margin: 4em auto;
  flex: 1 1 auto;
}

.hidden {
  opacity: 0;
}

h1, h2, h3 {
  margin-block-end: 0;
}

ul, h1, h2, h3 {
  margin-block-start: 0;
}

h2 {
  text-align: center;
}

.contact_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  flex: 2;
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.cv_summary {
  text-align: center;
}

.keyword_set {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.keyword {
  display: inline;
}

li.keyword::before {
  content: "· ";
  margin-left: -5px;
}

li.keyword::after {
  content: " ·";
}

.position_details {
  display: flex;
  justify-content: space-between;
  margin-block-end: 0.5em;
}

.position_title {
  font-style: italic;
}

.showcase_content {
  display: flex;
  justify-content: space-between;
}

.pad {
  width: 2em;
  flex: 0 0 auto;
  opacity: 0;
}

.container {
  display: flex;
}

img.contact_info_icon {
  height: 1em;
  vertical-align: -0.2em;
  margin-inline: 0.2em;
}